* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

canvas {
  display: block;
  border: 2px solid white;
}

progress {
  -webkit-appearance: none;
  appearance: none;

  margin-top: 2rem;
  width: 250px;
  height: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: #666;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: #fff;
}
